body {
  background-color: white;
  color: #333;
  text-align: center;

}

a {
  color: rgba(#000, 0.7);
  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

#logo{
  background-image: url("/images/logo.png");
  background-position: center;
  height: 700px;


}
